/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: 'Children of the Starlight';
  font-display: swap;
  src: url(ChildrenoftheStarlight.ttf);
}
